
.medio_input {
    width: 45%;
    min-width: 200px;
}

.input_completo{
    width: 70%;
    margin: auto;
}

.button_container{
    width: 70%;
    margin: auto;
}

.button_container button{
    width: 40%;
}

#locker-form {
    width: 50%;
    margin: auto;
    background-color: white;
    margin-bottom: 2%;
}

.invalid_campo{
    border: 2px solid red;
}

.invalid {
    color: red;
}
.valid {
    color: green;
}

.custom-file-button label {
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    width: 49%;
    font-size: small;
    min-width: 240px;
}

@media screen and (max-width: 1300px) {
    .custom-file-button label {
        text-align: center;
        width: 100%;
    }
    .custom-file-button label img{
        width: 20px;
        height: 20px;
        display: block;
    }

    .custom-file-button input{
        display: block;
        width: 100%;
    }

}

@media screen and (max-width: 700px) {
    #locker-form {
        width: 80%;
    }
    
}

.custom-file-button label img {
    width: 50px;
    height: 50px;
}

.custom-file-button input[type=file] {
    margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
}

.custom-file-button input[type=file]::file-selector-button {
    display: none;
}

.custom-file-button:hover label {
    cursor: pointer;
    background-color: var(--quaternary-color);
}


.info{
    font-size: 1em;
}

.img-response{
    width: 30%;
    margin: auto;
}

.div-show-info{
    width: 100%;
    justify-content: space-between;
}

.body-show-info{
    width: 50%;
    text-align: center;
}

.span-show-info{
    color: red;
    display: block;
}
